language: python
jobs:
  include:
    - name: "Python 3.8 on Linux"
      python: 3.8
    - name: "Python 3.6.1 on Linux"
      python: 3.6.1
    - name: "Python 3.8 on Windows"
      os: windows
      language: shell
      before_install:
        - choco install python --verion 3.8.5
        - python -m pip install --upgrade pip
      env: PATH=/c/Python38:/c/Python38/Scripts:$PATH
    - name: "Python 3.6.1 on Windows"
      os: windows
      language: shell
      before_install:
        - choco install python --verion 3.6.1
        - python -m pip install --upgrade pip
      env: PATH=/c/Python36:/c/Python36/Scripts:$PATH
install:
  - pip3 install --upgrade pip
  - pip3 install flake8
script:
  - flake8
  - python -m unittest tests.test_mobilepass
